.container {
  padding-top: 15px;
}

.post {
  position: relative;
}

.header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.headerAvatar {
  padding: 15px;
}

.headerName {
  flex: 1;
  color: #00aeeb !important;
  font-weight: bold;
  font-size: 16px;
}

.headerTime {
  padding: 15px;
  color: #898989;
  font-size: 12px;
}

.properties {
  background-color: #ffffff;
  color: #595757;
  padding: 25px;
  overflow: auto;
}

.properties:not(:last-child) {
  margin-bottom: 2px;
}

.smallProperty {
  float: left;
  width: 50%;
}

.smallProperty:nth-child(1), .smallProperty:nth-child(2) {
  margin-bottom: 12px;
}

.title {
  color: #e85382;
  font-size: 24px;
  padding: 0;
  margin: 0 0 16px 0;
}

.propertyHeader {
  color: #e85382;
  font-size: 18px;
  margin: 0 0 12px 0;
}

.propertyIcon {
  text-align: center;
  width: 18px;
}

.adopted {
  background: url(images/adopt_bg@2x.png) no-repeat;
  background-size: 100% 100%;
  color: white;
  font-size: 12px;
  line-height: 13px;
  width: 50px;
  height: 70px;
  position: absolute;
  top: 70px;
  right: 15px;
  text-align: center;
  padding: 10px 5px 0 5px;
}

.commandBarWrapper {
  height: 54px;
}

.commandBar {
  background-color: #f7f8f8;
  bottom: 0;
  color: #898989;
  display: flex;
  font-size: 14px;
  height: 54px;
  left: 0;
  line-height: 54px;
  padding: 0 18px 0 18px;
  position: fixed;
  width: 100%;
}

.interactionCount {
  flex: 1;
}

.commandButton {
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  flex: 0 0 auto;
  width: 54px;
  height: 54px;
  margin-left: 6px;
}

.followButton {
  background-image: url(images/mobile_icon_follow@2x.png);
}

.commentButton {
  background-image: url(images/mobile_icon_meassage@2x.png);
}