/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Eric Meyer’s “Reset CSS” 2.0 */
/* https://cssreset.com/scripts/eric-meyer-reset-css/ */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #f7f8f8;
  margin: 0;
  line-height: 1;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

button {
  background: none;
  border: none;
  outline: none;
}

button:disabled {
  color: rgba(255,255,255,0.5) !important;
}

select {
  outline: none;
  background: url(/images/select_arr@2x.png) no-repeat;
  background-position: right 5px center;
  background-size: 17px 10px;
  border: #c9caca 1px solid;
  color: #898989;
  font-size: 16px;
  height: 37px;
  border-radius: 8px;
  padding: 0 10px 0 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input {
  background: transparent;
  border: #c9caca 1px solid;
  border-radius: 8px;
  padding: 0 10px 0 10px;
  font-size: 18px;
  height: 37px;
  /* line-height: 18px; */
  outline: none;
}

.checkbox {
  color: #898989;
  font-size: 16px;
  position: relative;
  margin-top: 10px;
}

