.post {
  background-color: #ffffff;
  border-bottom: 1px solid #dcdddd;
  display: block;
  position: relative;
}

.post:not(:first-child) {
  margin-top: 30px;
}

.gallery {
  width: 100vw;
  height: 75vw;
  background-color: #d8d8d8;
}

.authorLink {
  display: block;
}

.header {
  display: flex;
  align-items: center;
}

.headerAvatar {
  display: block;
  padding: 15px;
}

.headerName {
  display: block;
  flex: 1;
  color: #00aeeb !important;
  font-weight: bold;
  font-size: 16px;
}

.headerTime {
  padding: 15px;
  color: #898989;
  font-size: 12px;
}

.information {
  color: #595757;
  padding: 30px;
  height: 160px;
}

.title {
  color: #c33764;
  font-size: 24px;
  padding: 0;
  margin: 0 0 16px 0;
}

.properties {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  flex-wrap: wrap;
  height: 60px;
  flex-direction: column;
}

.property {
  min-height: 18px;
}

.property i {
  width: 15px;
  margin-right: 8px;
  text-align: center;
}

.adopted {
  background: url(images/adopt_bg@2x.png) no-repeat;
  background-size: 100% 100%;
  color: white;
  font-size: 12px;
  line-height: 13px;
  width: 50px;
  height: 70px;
  position: absolute;
  top: 70px;
  right: 15px;
  text-align: center;
  padding: 10px 5px 0 5px;
}

.follow {
	position: absolute;
	right: 16px;
	width: 50px;
	font-size: 10px;
	color: #898989;
  text-align: center;
  transform: translateY(-25px);
}

.followButton {
	margin-bottom: 4px;
}

.followButton {
	background: #efefef url(images/unfollow_other@2x.png);
	width: 50px;
	height: 50px;
	border: 0;
	border-radius: 50%;
	background-size: 100% !important;
}

.followButton.followed {
	background: #00aca8 url(images/follow_other@2x.png);
}

.followButtonCat {
	background: #efefef url(images/unfollow_cat@2x.png);
}

.followButtonDog {
	background: #efefef url(images/unfollow_dog@2x.png);
}

.followButtonCat.followed {
	background: #00aca8 url(images/follow_cat@2x.png);
}

.followButtonDog.followed {
	background: #00aca8 url(images/follow_dog@2x.png);
}

.footer {
  margin: 43px 0 15px 0;
  text-align: center;
  font-size: 12px;
  color: #595757;
}