.wrapper {
  height: 60px;
}

.expandable {
  height: 350px !important;
}

.header {
  background: white;
  width: 100%;
  text-align: center;
  padding-top: 80px;
  height: 350px;
}

.collapsed {
	position: fixed;
	top: 0;
	padding: 0;
	z-index: 1;
	height: 60px;
  text-align: left;
}

.logo {
  width: 210px;
  height: 148px;
}

.logoCollapsed {
  width: auto;
  height: 60px;
  padding: 16px;
}

.searchButton {
  background: white;
  border-radius: 22.5px;
  border: 1px solid #898989;
  color: #898989;
  font-size: 18px;
  width: 150px;
  height: 45px;
  margin-top: 25px;
  opacity: 0;
}

.fadeIn {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.fadeOut {
  animation-name: fade-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.navigationButtons {
  position: fixed;
  top: 0px;
  right: 5px;
  text-align: right;
}

.collapsed .navigationButtons {
  position: absolute;
}

.navigationButton {
  color: #898989;
  font-size: 20px;
  width: 40px;
  height: 60px;
  padding: 20px 10px 20px 10px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}